<template>
  <b-container fluid="lg" class="container-fluid my-5">
    <b-row class="home-partners justify-content-center">
      <b-col class="mb-5  mt-5 align-self-center mx-auto">
        <h2> همکاری با بیش از 10 شرکت معتبر و شناخته شده! </h2>
      </b-col>
    </b-row>
    <b-row class=" justify-content-center">
      <b-col cols="12">
        <VueSlickCarousel v-bind="carousel.settings">
          <div
            v-for="(item, index) in carousel.items"
            :key="index"
            class=""
          >
            <b-img class="img" :src="item.imgSrc"></b-img>
          </div>
        </VueSlickCarousel>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      firstRow: this.data.body.firstRow,
      secondRow: this.data.body.secondRow,
      thirdRow: this.data.body.thirdRow,
      carousel: this.data.body.carousel,
      carouselConfig: {
        name: "carousel",
        type: "first",
        background: "",
        body: {
          class: "",
          firstRow: {
            class: "col-12",
            column: {
              sizes: {
                cols: "12"
              },
              class: "",
              body: {
                title: {
                  tagName: "h2",
                  class:
                    ""
                }
              }
            }
          },
          carousel: {
            items: [
              {
                imgSrc: require("~/assets/images/companies/1.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/2.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/3.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/4.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/5.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/6.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/7.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/8.svg")
              }
            ],
            settings: {
              arrows: true,
              dots: true,
              infinite: true,
              slidesToShow: 5,
              slidesToScroll: 1,
              rtl: true,
              autoplay: true,
              speed: 5000,
              autoplaySpeed: 0,
              swipe: false,
              pauseOnHover: false,
              draggable: false,
              cssEase: "linear",
              responsive: [
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 6,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 340,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
            }
          }
        }
      },
    }
  },
}
</script>
<style scoped lang="scss">
@import "@constants/color-variables";
@import "@mixins/media-query";
.img {
  max-width: 230px;
}
.home-partners {
  text-align: center;
  h2 {
    font-size: 28px;
    color: red;
    text-align: center;
    font-weight: 500;
    @include is-mobile-and-landscape {
      font-size: 22px;
    }
  }

  div {
    font-size: 1rem;
    color: red;
    font-weight: 400;
    @include is-mobile-and-landscape {
      font-size: 1rem;
      position: initial;
    }
  }
}
</style>
