<template>
    <section id="brand" class="mt-5">
      <b-container class="brand__bg mt-5">
        <b-row class="direction-brand my-5">
          <b-col cols="12" md="6"  class="mt-5 bg-image">
<!--                <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">-->
          </b-col>
          <b-col cols="12" md="6"  class="mt-5">
            <span class="brand__main--title" dir="rtl">تولید محصولات لوازم خانگی با برند شما</span>
            <span class="brand__main--title" dir="rtl">ساده تر از همیشه </span>
            <div class="brand__sub--title my-5">
              <p class="txt-justify">
                ما این امکان را فراهم کرده‌ایم که شما با پر کردن فرم همکاری با شرکت صنعت فرسازان ماکو بتوانید
                برند خود را در سامانه یکپارچه این شرکت ثبت نموده و سپس با توجه به نیاز سازمان خود، درخواست خود
                را مبنی بر تولید محصولات مدنظرتان توسط شرکت صنعت فرسازان ماکو با نام برند خودتان ثبت نمایید.
              </p>
            </div>
            <b-row>
              <b-col class="d-flex justify-content-md-end justify-content-center">
                <CareerButton class="" />
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
import CareerButton from "../career-button";
export default {
  components: {CareerButton},
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';
@import '@mixins/media-query';


.direction-brand{
  direction: ltr;
  @include is-not-desktop{
    direction: rtl;
  }
}
.brand{
  &__bg{
    background: white;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

</style>
