<template>
    <section id="produce" class="my-5">
      <b-container class="value__bg" dir="">
        <b-row class="my-5">
          <b-col cols="12" md="6" class="bg-image">
<!--            <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">-->
          </b-col>
          <b-col cols="12" md="6" class="value">
            <p class="value__main--title">کارخانه</p>
            <div class="value__sub--title my-5">
              <p class="txt-justify">
                کارخانه صنعت فرسازان ماکو با مساحت10 هزار هکتار در شهرک صنعتی ماکو واقع شده است. این مجموعه بزرگ شامل دستگاه‌های مختلفی از جمله دستگاه پرس هیدرولیک و ضربه‌ای، CNC، وایرکات، دایکاست و... می‌باشد.کارخانه صنعت فرسازان ماکو دارای واحدهای تولیدی متنوعی می باشد که میتوان از واحد برش کاری،پرس کاری، واحد قالب سازی، عملیات حرارتی نام برد. همراه داشتن تمام این امکانات و شش خط مونتاز به ما این امکان را می دهد تا در روز 7000-1000 دستگاه تولید کنیم.
                در خانواده بزرگ صنعت فرسازان ماکو علاوه بر واحدهای تولید لوازم خانگی بخش های تولید بسته‌بندی مانند کارتن سازی و تهیه فوم سازی هم به چشم میخورد.
              </p>
            </div>
            <b-row>
              <b-col class="d-flex justify-content-md-start justify-content-center">
                <button class="btn btn--primary">مطالعه بیشتر</button>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';
@import '@mixins/media-query';

.value{
  &__bg{
    background: $white-color;
    margin-top: 200px;
    margin-bottom: 120px;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: right;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      text-align: center;
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

</style>
