<template>
<section class="mt-5">
  <div class="mt-5">
    <div class="container mx-auto hero d-flex align-items-center" style="margin-top: 4rem;">
      <b-row class="d-flex align-items-center">
        <b-col cols="12" class="mx-md-5">
          <h1 class="hero__title">صنعت فرسازان ماکو</h1>
          <div class="hero__sub--title my-md-5">
            <p>
              مجهزترین کارخانه تولیدکننده لوازم خانگی برقی در ایران،
            </p>
            <p>
              با امکان تولید بیش از 200.000 تولید سالیانه و امکان تولید محصولات با نام برند شما!
            </p>
          </div>
          <div class="d-flex justify-content-md-start justify-content-center">
            <CareerButton />
            <ContactButton />
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</section>
</template>

<script>
import CareerButton from "~/components/career-button";
import ContactButton from "../ContactButton";
export default {
  name: "hero",
  components: {ContactButton, CareerButton}
}
</script>

<style lang="scss" scoped>
@import "@mixins/media-query";
.hero{
  background-color: #F8FAFA;
  border-radius: 24px;
  padding-top: 12px;
  margin-top: 12px;
  height: 85vh;
  &__title{
    font-family: Yekan Bakh FaNum;
    font-size: 57px;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: right;
    @include is-tablet{
      font-size: 36px;
      text-align: center;
    }
    @include is-mobile{
      font-size: 36px;
      text-align: center;
    }
  }
  &__sub--title{
    font-family: Yekan Bakh FaNum;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    @include is-tablet{
      font-size: 22px;
      text-align: center;
    }
    @include is-mobile{
      font-size: 16px;
      text-align: center;
    }

  }
}
</style>
