<template>
  <div class="my-5">
    <section id="produce">
      <b-container fluid class="value__bg">
        <b-row class="mb-5">
          <b-col cols="12" class="value">
            <p class="value__main--title">
              محصولات
            </p>
          </b-col>
        </b-row>
        <b-row class="mx-auto">
          <b-col class="mx-auto p-0" cols="12" lg="10" xl="10">
            <b-row class="mx-auto">
              <b-col v-for="(item, index) in categories" :key="index" cols="6" lg="2" class="text-center mx-auto">
                <b-link class="value__title d-block text-decoration-none" @click="goToProduct(item.slug)">
                  <b-img class="value__img" :src="item.image.url ?? require(`@images/logo.svg`)"/>
                  <p>{{ item.title }}</p>
                </b-link>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  inject: ['categoriesData'],
  methods: {
    goToProduct(slug) {
      this.$router.push(`/products?category=${slug}`);
    },
  },
  computed: {
    categories() {
      return this.categoriesData();
    },
  },
};
</script>
<style lang="scss" scoped>
@import '@constants/color-variables';
@import '@mixins/media-query';

.value{
  &__bg{
    background: $white-color;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 106px;
    height: 106px;
    @include is-not-desktop {
      width: 64px;
      height: 64px;
    }
  }
}

</style>
