<template>
  <div>
    <section id="value">
      <b-container fluid class="value__bg">
        <b-row class="mb-5">
<!--          <b-col cols="12" class="value">-->
<!--            <p class="value__main&#45;&#45;title">-->
<!--              ویژگی ها-->
<!--            </p>-->
<!--          </b-col>-->
        </b-row>
        <b-row class="mx-auto">
          <b-col class="mx-auto p-0" cols="12" lg="10" xl="10">
            <b-row class="mx-auto">
              <b-col v-for="(item,index) in items" :key="index" cols="6" lg="3" class="text-center mx-auto">
                <div  class="factory--box mt-3">
                  <b-link class="value__title d-block text-decoration-none" :href="item.href">
                    <b-img class="value__img" :src="require(`@images/${item.src}`)"/>
                    <p class="value__title">
                      {{ item.title }}
                    </p>
                    <p class="value__content">
                      {{ item.content }}
                    </p>
                  </b-link>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          src:'factory.svg',
          href:'',
          title: 'کارخانه',
          content:
            'بیش از ۱۰ سال سابقه تولید و ۶ خط مونتاژ'
        },
        {
          src:'garantee.svg',
          href:'https://biriyaservice.ir',
          title: 'خدمات پس از فروش',
          content:
            'ارائه خدمات در تمامی استان های ایران'
        },
        {
          src:'brand.svg',
          href: '/work-with-us',
          title: 'تولید با نام برند شما',
          content:
            'متناسب با نیاز مجموعه شما و با برند خودتان محصول مورد نظرتان تولید می شود'
        },
        {
          src:'machine.svg',
          href: '/about-us',
          title: 'ماشین آلات',
          content:
            'بیش از ۲۰۰ دستگاه تولید لوازم خانگی و بسته بندی محصولات'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';
@import '@mixins/media-query';

.value{
  &__bg{
    background: white;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 14px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #5C5F5F;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 93px;
    height: 93px;
    @include is-not-desktop {
      width: 64px;
      height: 64px;
    }
  }
}
.factory--box{
  border-radius:24px ;
  border: solid 1px #E1E3E3;
  padding: 32px 24px;
  @include is-not-desktop{
    padding: 32px 12px;
  }
}
</style>
