<template>
  <button class="btn btn--primary" @click="goToCareer">شروع همکاری</button>
</template>

<script>
export default {
  methods: {
    goToCareer() {
      this.$router.push('/work-with-us')
    },
  },
};
</script>

<style scoped>
/* Add your button styling here */
</style>
