<template>
  <button class="btn btn--outline--primary me-md-4 me-2" @click="goToContact">تماس با ما</button>
</template>

<script>
export default {
  methods: {
    goToContact() {
      this.$router.push('/contact-us')
    },
  },
};
</script>

<style scoped>
/* Add your button styling here */
</style>
