<template>
  <div>
    <section id="produce">
      <b-container class="value__bg my-5">
        <b-row class="show-in-mobile-and-tablet direction-brand mb-5 d-flex justify-content-center">
          <b-row class="">
            <b-col cols="12" md="8"  lg="4" offset="1" class="mx-md-auto slider-container mt-3">
              <!-- Use 'client-only' around the carousel -->
              <div id="carouselExampleIndicators0" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li v-for="(slide, index) in product.images" :key="index" :data-target="'#carouselExampleIndicators0'" :data-slide-to="index" :class="{ active: index === currentSlide }"></li>
                </ol>
                <div class="carousel-inner">
                  <div v-for="(slide, index) in product.images" :key="index" :class="{ 'carousel-item': true, active: index === currentSlide }">
                    <img :src="slide.url" class="d-block w-100" alt="Slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators0" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators0" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
            </b-col>
            <b-col cols="12" md="6" lg="2" class="mt-3 mx-md-auto">
              <div class="thumbnail-container justify-content-center">
                <div v-for="(slide, index) in product.images" :key="'slide_' + index" class="thumbnail" @click="goToSlide(index)">
                  <img :src="slide.url" alt="Thumbnail"
                       :class="{ active: index === currentSlide }" class="thumbnail-img">
                </div>
              </div>
            </b-col>
            <b-col cols="12" md="12" lg="5" class="mt-4 mx-md-auto">
            <span class="product__main--title" dir="rtl">
              {{product.title}}
            </span>
              <div class="brand__sub--title my-4">
                <p  class="txt-justify">
                  {{  product.shortDescription  }}
                </p>
              </div>
              <div>
                <p>رنگ بندی</p>
                <ul class="color-items">
                  <li v-for="(color,index) in product.colors" :key="index" class="color-item">
                    <div class="color-square" :style="{ backgroundColor: color.color }"></div>
                    <div class="color--title">{{ color.title }}</div>
                  </li>
                </ul>
              </div>
            </b-col>
          </b-row>
        </b-row>
        <b-row class="show-in-desktop direction-brand py-5 d-flex justify-content-center">
          <b-col cols="12" md="2" class="mt-3">
            <div class="thumbnail-container justify-content-center">
              <div v-for="(slide, index) in product.images" :key="'slide_' + index" class="thumbnail" @click="goToSlide(index)">
                <img :src="slide.url" alt="Thumbnail"
                     :class="{ active: index === currentSlide }" class="thumbnail-img">
              </div>
            </div>
          </b-col>
          <b-col cols="12" md="4" offset="1" class="slider-container mt-3">
            <!-- Use 'client-only' around the carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li v-for="(slide, index) in product.images" :key="index" :data-target="'#carouselExampleIndicators'" :data-slide-to="index" :class="{ active: index === currentSlide }"></li>
              </ol>
              <div class="carousel-inner">
                <div v-for="(slide, index) in product.images" :key="index" :class="{ 'carousel-item': true, active: index === currentSlide }">
                  <img :src="slide.url" class="d-block w-100" alt="Slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </b-col>
          <b-col cols="12" md="5" class="mt-4">
            <span class="product__main--title" dir="rtl">
              {{product.title}}
            </span>
            <div class="brand__sub--title my-4">
              <p  class="txt-justify">
                {{  product.shortDescription  }}
              </p>
            </div>
            <div>
              <p>رنگ بندی</p>
              <ul class="color-items">
                <li v-for="(color,index) in product.colors" :key="index" class="color-item">
                  <div class="color-square" :style="{ backgroundColor: color.color }"></div>
                  <div class="color--title">{{ color.title }}</div>
                </li>
              </ul>
            </div>
          </b-col>
        </b-row>

      </b-container>
      <b-container class="my-5">
        <b-row class="py-5">
          <b-col cols="12">
            <b-tabs content-class="mt-3" justified>
              <b-tab title="توضیحات">
                <b-row>
                  <b-col cols="12" md="8" class="txt-justify">
                   {{product.description}}
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab  title="مشخصات فنی">
                <b-row class="d-flex flex-column">
<!--                  <b-col v-for="(att, index) in product.attribute" :key="index" class="d-flex">-->
<!--                    <div class="color&#45;&#45;title">{{ att.title }}</div>-->
<!--                    <div class="color&#45;&#45;title font-weight-400">{{ att.value }}</div>-->
<!--                  </b-col>-->
                  <b-col>
                    <table>
                      <tbody>
                      <tr v-for="(att, index) in product.attribute" :key="index">
                        <td class="col-md-3 col-6">{{ att.title }}</td>
                        <td class="color--title font-weight-400 col-md-8 col-6">{{ att.value }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="my-5">
        <b-row>
          <b-col cols="6" class="mt-5">
            <div class="pache">
              <p class="pache__text mt-3">راهنمای ثبت گارانتی</p>
              <div class="d-block text-center my-3 cursor-pointer">
                <a :href="product.warranty_registration_guide"  class="pache__sub--text mt-2" target="_blank">دانلود PDF</a>
                <img src="@images/pdf.svg" alt="pdf" />
              </div>
            </div>
          </b-col>
          <b-col cols="6" class="mt-5">
            <div class="pache">
              <p class="pache__text mt-3"> دفترچه راهنمای محصول</p>
              <div class="d-block text-center cursor-pointer my-3">
                <a :href="product.product_manual" class="pache__sub--text mt-2" target="_blank">دانلود PDF</a>
                <img src="@images/pdf.svg" alt="pdf" />
              </div>

            </div>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="mt-5">
        <b-row class="mb-5">
          <b-col cols="12" class="my-5">
            <brand class="my-3" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import Brand from "~/components/home/brand";
import VueSlickCarousel from 'vue-slick-carousel';
import { PRODUCTS } from '~/utils/endpoints';
import product from "../../components/home/product";

export default {
  components: { Brand, VueSlickCarousel },
  data() {
    return {
      carousel: {
        settings: {
          dots: false,
          arrows: false,
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          asNavFor: '.carousel-thumbnails',
          autoplay: true, // Enable autoplay
          autoplaySpeed: 2000, // Set the autoplay interval to 3000 ms (2 seconds)
        }
      },
      currentSlide: 0,
      activeTabIndex: 0,
      product : []
    };
  },
  methods: {
    goToSlide(index) {
      this.currentSlide = index;
    },
    getProduct(){
      this.$axios.get(`${PRODUCTS}/${this.$route.params.slug}`)
        .then(response => {
          this.product = response.data.data;
          console.log(this.product)
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    },
  },
  mounted() {
    this.getProduct()
  },
};
</script>

<style lang="scss">
@import '@constants/color-variables';
@import '@mixins/media-query';


.pache{
  padding: 16px, 24px, 16px, 24px;
  border-radius: 24px;
  border: solid 1px #E1E3E3;
  &__text{
    font-weight: 700;
    text-align: center;
    color: #191C1D;
  }
  &__sub--text{
    font-weight: 700;
    text-align: center;
    color: #C00004;
    text-decoration: none;
  }
}
.cursor-pointer{
  cursor: pointer;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: right;
}

td.color--title {
  border-bottom: 1px solid #f1f2f4;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  display: none;
}
.color--title{
  margin-left: 12px;
}
.product{
  &__bg{
    background: $white-color;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
}

.slider-container {
  border-radius: 24px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include is-not-desktop{
    flex-direction: row;
  }
}

.thumbnail {
  cursor: pointer;
  margin-bottom: 7px;
  border-radius: 24px;
  padding: 10px;
}
.thumbnail-img{
  height: 120px;
  width: 120px;
  border-radius: 24px;
  @include is-not-desktop{
    height: 80px;
    width: 80px;
  }
}
.color-items {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-item {
  display: flex;
  align-items: center;
}

.color-square {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border-radius: 4px;
  border: solid 1px #e5e5e5;

}
.font-weight-400{
  font-weight: 400;
}
.social__icon-container {
  justify-content: space-between;
}
</style>



