<template>
  <div>
    <section id="produce">
      <b-container class="value__bg my-5">
        <b-row class="direction-career-view mb-4">
          <b-col cols="12" md="8" class="mt-3">
            <span class="career-view__main--title" dir="rtl">{{career.title}}</span>
            <div class="d-flex justify-content-between mt-3" dir="rtl">
              <div class="location-time">{{career.bio}} </div>
            </div>
            <div class="career-view__title mt-5">
              <p>معرفی شرکت</p>
            </div>
            <b-col cols="9" class="career-view__sub--title my-2">
              <p>
                ما این امکان را فراهم کرده‌ایم که شما با پر کردن فرم همکاری با شرکت صنعت فرسازان ماکو بتوانید
                برند خود را در سامانه یکپارچه این شرکت ثبت نموده و سپس با توجه به نیاز سازمان خود، درخواست خود
                را مبنی بر تولید محصولات مدنظرتان توسط شرکت صنعت فرسازان ماکو با نام برند خودتان ثبت نمایید.
              </p>
            </b-col>
          </b-col>
        </b-row>
        <b-row>
          <b-col  cols="12" md="8" class="">
            <div class="career-view__title">
              <p>شرح موقعیت شغلی</p>
            </div>
            <b-col cols="9" class="career-view__sub--title my-2">
              <p>
                {{career.description}}
              </p>
            </b-col>
          </b-col>
        </b-row>
        <section id="skills">
          <b-row>
            <b-col  cols="12" md="8" class="">
              <div class="career-view__title">
                <p>مهارت‌های تخصصی</p>
              </div>
              <ul class="bullet-list me-3">
                <li v-for="(skill, index) in career.technicalSkill" :key="index">{{ skill }}</li>
              </ul>
            </b-col>
          </b-row>
        </section>
        <section id="general-skills">
          <b-row>
            <b-col  cols="12" md="8" class="">
              <div class="career-view__title">
                <p class="mt-3">مهارت‌های عمومی</p>
              </div>
              <ul class="bullet-list me-3">
                <li v-for="(skill,index) in career.publicSkill" :key="index">{{ skill }}</li>
              </ul>
            </b-col>
          </b-row>
        </section>
        <b-row dir="ltr" class="my-5">
          <b-col cols="6" class="d-flex justify-content-center">
            <button type="button" class="btn btn--primary col-10" data-toggle="modal" data-target="#formModal">
              ارسال فایل رزومه
            </button>
            <!-- Modal -->
            <b-row dir="ltr" class="my-5">
              <b-form @submit.prevent>
                <b-col cols="12" class="d-flex justify-content-center">
                  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content col-12">
                        <div class="modal-header">
                          <button type="button" class="close btn " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <span>ارسال رزومه</span>
                        </div>
                        <div class="modal-body">
                          <b-form-row class="row mt-4" dir="rtl">
                            <b-form-row class="row mt-4">
                              <b-col md="6">
                                <b-form-group  label="نام ">
                                  <b-form-input  class="input-style"  v-model="formData.name"></b-form-input>
                                  <div v-if="$v.formData.name.$error && !$v.formData.name.required.$error" class="text-danger">
                                    نام
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                              <b-col md="6">
                                <b-form-group label=" نام خانوادگی">
                                  <b-form-input  class="input-style"  v-model="formData.family"></b-form-input>
                                  <div v-if="$v.formData.family.$error && !$v.formData.family.required.$error" class="text-danger">
                                    نام خانوادگی
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                            </b-form-row>
                            <b-form-row class="row mt-4">
                              <b-col md="6">
                                <b-form-group label="سال تولد">
                                  <b-form-input  class="input-style"  v-model="formData.birthdate"></b-form-input>
                                  <div v-if="$v.formData.birthdate.$error && !$v.formData.birthdate.required.$error" class="text-danger">
                                    سال تولد
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                              <b-col md="6">
                                <b-form-group label="جنسیت">
                                  <div class="d-inline-flex">
                                    <form class="d-inline-flex">
                                      <div class="mx-2 d-flex align-items-center">
                                        <input type="radio" id="female" name="language_reading_rating" value="female"
                                               v-model="formData.gender"/>
                                        <label for="female" class="mx-1">زن</label>
                                      </div>
                                      <div class="mx-2 d-flex align-items-center">
                                        <input type="radio" id="male" name="language_reading_rating" value="male"
                                               v-model="formData.gender"/>
                                        <label for="male" class="mx-1">مرد</label>
                                      </div>
                                    </form>
                                  </div>
                                  <div v-if="$v.formData.gender.$error && !$v.formData.gender.required.$error" class="text-danger">
                                    جنسیت
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                            </b-form-row>
                            <b-form-row class="row mt-4">
                              <b-col md="6">
                                <b-form-group label="موبایل">
                                  <b-form-input  class="input-style"  v-model="formData.mobile"></b-form-input>
                                  <div v-if="$v.formData.mobile.$error && !$v.formData.mobile.required.$error" class="text-danger">
                                    موبایل
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                              <b-col md="6">
                                <b-form-group label="ایمیل">
                                  <b-form-input  class="input-style"  v-model="formData.email"></b-form-input>
                                  <div v-if="$v.formData.email.$error && !$v.formData.email.required.$error" class="text-danger">
                                    ایمیل
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                              <b-col md="6" class="mt-4">
                                <b-form-group label="فایل رزومه">
                                  <b-form-file
                                    :state="Boolean(formData.resumeFile)"
                                    ref="fileInput"
                                    @change="handleFileChange"
                                  ></b-form-file>
                                  <div class="mt-3">Selected file: {{ formData.resumeFile ? formData.resumeFile.name : '' }}</div>
                                  <div v-if="$v.formData.resumeFile.$error && !$v.formData.resumeFile.required.$error" class="text-danger">
                                    فایل رزومه
                                    الزامی است.
                                  </div>
                                </b-form-group>
                              </b-col>
                            </b-form-row>
                          </b-form-row>
                        </div>
                        <div class="modal-footer my-3">
                          <button type="button" @click="submitForm" class="btn btn--primary col-6 mx-auto mt-3" data-toggle="modal" data-target="#formModal">
                            ارسال فایل رزومه
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-col>
              </b-form>
            </b-row>
          </b-col>
          <b-col cols="6" class="d-flex justify-content-center">
            <button class="btn btn--outline--primary col-10" @click="fillResume">پر کردن فرم رزومه</button>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import {CAREERS} from '~/utils/endpoints';
import {validationMixin} from 'vuelidate'
import {email, numeric, required,} from 'vuelidate/lib/validators'
import {RESUME} from "~/utils/endpoints";

export default {
  components: {},
  mixins: [validationMixin],
  data () {
    return {
      skills: [
        'آشنا به متد OKR',
        'توانایی استخراج KPI برای سنجش عملکرد فردی و تیمی',
        'شناسایی مهارت های فردی و استخدام نیرو بر اساس نیاز هر تیم',
        'توانایی ایجاد انگیزه کاری در پرسنل از طریق طرح های خلاقانه',
        'تسلط خوب به زبان انگلیسی',
        'آشنایی نسبی به قانون کار',
        'آشنا به امور ارزیابی عملکرد پرسنل'
      ],
      generalSkills: [
        'دقیق و منظم',
        'توجه به جزئیات',
        'مسئولیت پذیر',
        'خوش برخورد و پر انرژی',
        'روابط عمومی قوی',
        'آشنایی با محیط استارتاپی'
      ],
      career:[],
      technicalSkills:[],
      formData: {
        name: '',
        family: '',
        birthdate: '',
        gender: '',
        mobile: '',
        email: '',
        resumeFile: '',
      },
    }
  },
  validations: {
    formData: {
      name: {
        required,
      },
      family: {
        required,
      },
      birthdate: {
        required,
      },
      gender: {
        required,
      },
      email: {
        required,
        email,
      },
      mobile: {
        required,
        numeric
      },
      resumeFile: {
        required
      },
    },
  },
  methods:{
    getCareer(){
      this.$axios.get(`${CAREERS}/${this.$route.params.slug}`)
        .then(response => {
          this.career = response.data.data;
          this.technicalSkill = response.data.data.technicalSkill;
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    },
    fillResume() {
        this.$router.push('/fill-resume')
      },
    async submitForm() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        // Create a FormData object to send the file and other fields to the server
        const formData = new FormData();
        formData.append('resume', this.formData.resumeFile);
        formData.append('name', this.formData.name);
        formData.append('family', this.formData.family);
        formData.append('birthdate', this.formData.birthdate);
        formData.append('gender', this.formData.gender);
        formData.append('email', this.formData.email);
        formData.append('mobile', this.formData.mobile);

        await this.$axios.post(RESUME, formData)
          .then(() => {
              const toastMessage = 'عملیات با موفقیت انجام شد.'
              this.$toast.success(toastMessage)
              this.loading = false
            }
          )
          .catch(error => {
            const toastMessage = 'خطا در انجام عملیات'
            this.$toast.warning(toastMessage)
          });
      }
    },
    handleFileChange(event) {
      this.formData.resumeFile = event.target.files[0];
    },
  mounted() {
    this.getCareer()
  },
}}
</script>

<style lang="scss">
@import '@constants/color-variables';
@import '@mixins/media-query';

.bullet-list li {
  list-style-type: disc;
}
.career-view{
  &__bg{
    background: white;
  }
  &__main--title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;
  }
  &__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__sub--title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #5C5F5F;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
}


</style>
