@import "@constants/color-variables.scss";
@import "@mixins/transition";
@import "@mixins/media-query";

.btn {
  border-width: 1px;
  border-style: solid;
}
.btn--primary{
  height:  56px;
  padding: 16px 48px 16px 48px;
  border-radius: 32px;
  background-color: #C00004;
  color: white;
  @include is-mobile{
    padding: 12px 32px 12px 32px;
  }
}
.btn--primary:hover{
  height:  56px;
  padding: 16px 48px 16px 48px;
  border-radius: 32px;
  border-color: #C00004;
  background-color: white;
  color: #C00004;
}
.btn--outline--primary{
  height:  56px;
  padding: 16px 48px 16px 48px;
  border-radius: 32px;
  border-color: #C00004;
  background-color: white;
  color: #C00004;
  @include is-not-desktop{
    padding: 12px 32px;
  }
}
.btn--outline--primary:hover{
  height:  56px;
  padding: 16px 48px 16px 48px;
  border-radius: 32px;
  background-color: #C00004;
  color: white;
}
