<template>
  <b-col class="footer-list">
    <h5 class="footer-list__title">
      {{ title }}
    </h5>
    <ul>
      <li><span class="footer-list__item">امکانات سایت</span></li>
      <li v-for="(item, index) in items" :key="index" class="footer-list__item mt-3">
        <b-link
          :href="item.link"
          class="footer-list__link"
          rel="noopener"
        >
          {{ item.name }}
        </b-link>
      </li>
    </ul>
  </b-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';

.footer-list {
  &__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: $white-color;
    font-weight: 300;
    &::after {
      display: block;
      content: '';
      width: 35%;
      background-color: $white-color;
      margin-top: 5px;
    }
  }
  &__item {
    font-size: 1rem;
    color: $white-color;
  }
  &__link {
    color: #fff;
    &:hover {
      color: $neutral-color-80;
    }
  }
}
</style>
