<template>
  <footer>
    <div class="footer__background" />
  </footer>
</template>

<script>
import footerList from '~/components/footer/footer-list'

export default {
  name: 'Footer',
  components: {
    footerList
  },
  data () {
    return {
    }
  }
}
</script>
