<template>
  <footer>
    <b-container class="footer--style">
      <b-row id="contact-us" class="mx-auto no-gutters">
        <b-col cols="12">
          <b-row class="mb-5">
            <b-col md="3" cols="12" class="mt-3">
              <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">
              <div class="footer--style__main--title">
                <b-img src="@images/footer/location.svg"/>
                <span class="footer--style__footer--item my-3 mr-2 txt-justify">
                  منطقه آزاد صنعتی و تجاری ماکو - شهرک صنعتی شماره یک - بلوار کارآفرینان - مجتمع گروه صنعتی فرسازان ماکو
                </span>
              </div>
              <div v-for="(item,index) in items" :key="index" class="footer--style__footer--item mt-3">
                <b-img :src="require(`@images/footer/${item.src}`)"/>
                <div class="d-inline-block mr-2" dir="ltr"> {{ item.title }}</div>
              </div>
              <b-row>
                <b-col cols="12">
                  <footer-socials/>
                </b-col>
              </b-row>
            </b-col>
            <b-col md="2" cols="12" class="p-0">
              <footer-list :items="footerList1"/>
            </b-col>
            <b-col md="2" cols="12" class="mt-3">
              <div class="footer--style__main--title">مشتریان ما</div>
              <div v-for="(costumer,index) in costumers" :key="index" class="footer--style__footer--item mt-3">
                <div class="d-inline-block mr-2" dir="ltr"> {{ costumer }}</div>
              </div>
            </b-col>
            <b-col md="2" cols="12" class="mt-3">
              <div class="footer--style__main--title"> محصولات</div>
              <div v-for="(category,index) in categories" :key="index" class="footer--style__footer--item mt-3">
                <nuxt-link :to="`/products?category=${category.slug}`" class="d-inline-block footer--style__footer--item mr-2" dir="ltr"> {{ category.title }}</nuxt-link>
              </div>
            </b-col>
            <b-col md="2" cols="12" class="mt-3">
              <div class="footer--style__main--title">تماس باما</div>
              <p class="footer--style__footer--item mt-3 mr-2 txt-justify">
                  منطقه آزاد صنعتی و تجاری ماکو - شهرک صنعتی شماره یک - بلوار کارآفرینان - مجتمع گروه صنعتی فرسازان ماکو
              </p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row class="mx-auto">
        <b-col cols="12">
          <p class="footer-text pt-2">
            تمامی حقوق مادی و معنوی متعلق به  فراسان است
          </p>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
import footerList from '~/components/footer/footer-list'
import footerSocials from '~/components/footer/footer-socials'

export default {
  components: {
    footerList,
    footerSocials
  },
  data() {
    return {
      footerList1: [
        {name: 'درباره ما', link: '/about-us'},
        {name: 'ارزش ها', link: '/#value'},
      ],
      items: [
        {
          title: 'team@fmaco.com', src: 'email.svg'
        },
        {
          title: '+۹۸ (۲۱)۵۵۶۶۷۷', src: 'phone.svg'
        }
      ],
      costumers: [
        'کومتای','لوکستای','اکسپنس',
        'VIP','مری فلاور','کلورانس',
      ],
    }
  },
  inject: ['categoriesData'],
  computed: {
    categories() {
      return this.categoriesData();
    }
  },
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';

footer {
  position: relative;
  padding: 20px 0 40px 0;
  background-color: white
}

.footer--style {
  &__main--title {
    font-size: 1.1rem;
    line-height: 28px;
    letter-spacing: 0.0015em;
    color: #191C1D;
  }

  &__footer--item {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.0015em;
    color: #191C1D;
    text-decoration: none;
  }
}

.footer-text {
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #191C1D;
  text-align: center;
  border-top: solid 1px #D8DADB;
}

.footer-list__title {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1rem;
}
</style>
