<template>
  <div class="">
    <Header :categories="categories"/>
    <nuxt/>
    <Footer :categories="categories"/>
  </div>
</template>

<script>
import Header from './header'
import Footer from './footer'
import {CATEGORIES} from "../utils/endpoints";

export default {
  components: {
    Header,
    Footer
  },
  data() {
    return {
      categories: [],
    }
  },
  provide() {
    return {
      categoriesData: () => this.categories
    }
  },
  created() {
    this.getCategories();
  },
  methods: {
   async getCategories() {
     await this.$axios.get(CATEGORIES, {params: {type: 'PRODUCT'}})
        .then(response => {
          this.categories = response.data.data;
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    }
  }
}
</script>

<style>
</style>
