<template>
  <div>
    <section id="produce">
      <b-container class="value__bg my-5">
        <b-row class="produce py-2 my-5">
          <b-col cols="12" md="6" class="my-5 bg-image">
<!--            <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">-->
          </b-col>
          <b-col cols="12" md="6" class="my-5">
            <span class="value__main--title mt-5" dir="rtl">درباره ما</span>
            <div class="value__sub--title my-5">
              <p class="txt-justify">
                شرکت تولیدی صنعت فرسازان ماکو با هدف تولید لوازم خانگی برقی در سال ۱۳۹۰در منطقه آزاد تجاری ماکو به صورت حرفه ای تاسیس شد و فعالیت خود را در زمینه تولید لوازم خانگی آغاز کرد. محصولات این مجموعه در ۷ گروه محصول : فرهای خوراک پزی برقی(بیش از ۱۰ مدل) ، ماکروویو، چایساز ،
                قهوه ساز ، بخاری برقی ، هواپز،جاروبرقی مطابق نیازهای بومی و بازار تولید میشود.تولید محصولات با کیفیت از شعارهای اصلی این مجموعه بوده که از ابتدای تاسیس، سرلوحه فعالیتهای خود
                قرارداده است.
                گروه صنعت فرسازان ماکو دارای استاندارد مدیریت کنترل کیبفیت(ISO9001:2008)، استاندارد مدیریت زیست محیطی(ISO14001:2004) و استاندارد مدیریت ایمنی و بهداشت کار (OHSAS18001:2007)می باشد.
                به واسطه تصمیمات مدیریتی که در شرکت صنعت فرسازان ماکو گرفته شد، تقریبا تمامی زیر ساختهای لازم در دسترس تیم‌های مهندسی،تولید،طراحی،فنی،مارکتینگ و بازرگانی قرار گرفت.و فرصت برای رسیدن به اهداف بزرگتر فراهم شد.
                ما به این مفتخریم که توانستیم با ایجاد صدها شغل برای جوانان ایرانی و و همینطور قطع وابستگی به محصولات خارجی و ضربه‌های سنگین این اتفاق به اقتصاد کشور،به الگویی بسیار موفق در زمینه‌ تولید تبدیل شویم. و ذهنیتی تازه و بسیار مثبت از یک برند ایرانی در ذهن هموطنان خود ایجاد نماییم.
              </p>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-5">
          <b-col cols="12" md="6" class="mb-5 bg-image">
<!--            <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">-->
          </b-col>
          <b-col cols="12" md="6" class="value mb-5">
            <span class="value__main--title">کارخانه</span>
            <div class="value__sub--title my-5">
              <p class="txt-justify">
                کارخانه صنعت فرسازان ماکو با مساحت10 هزار هکتار در شهرک صنعتی ماکو واقع شده است. این مجموعه بزرگ شامل دستگاه‌های مختلفی از جمله دستگاه پرس هیدرولیک و ضربه‌ای، CNC، وایرکات، دایکاست و... می‌باشد.کارخانه صنعت فرسازان ماکو دارای واحدهای تولیدی متنوعی می باشد که میتوان از واحد برش کاری،پرس کاری، واحد قالب سازی، عملیات حرارتی نام برد. همراه داشتن تمام این امکانات و شش خط مونتاز به ما این امکان را می دهد تا در روز 7000-1000 دستگاه تولید کنیم.
                در خانواده بزرگ صنعت فرسازان ماکو علاوه بر واحدهای تولید لوازم خانگی بخش های تولید بسته‌بندی مانند کارتن سازی و تهیه فوم سازی هم به چشم میخورد.
              </p>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <p class="value__main--title mb-4">ماشین آلات و ظرفیت تولید</p>
          </b-col>
          <b-col cols="12" class="my-5">
            <b-tabs content-class="" justified>
              <b-tab class="font-22" title="فلزات">
                <b-row class="mt-4">
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">پرس های هیدرولیک </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>300-80 تن </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>5000-1000 قطعه در روز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">پرس های ضربه ای </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>10-150 تن </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>1000-50،000 قطعه در روز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">جوش نقطه ای و پر سی </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>10-100 کیلووات </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>500-5000 قطعه در روز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">تراش اتوماتیک </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>-</span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>1000-10،000 قطعه در روز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">وان آبکاری </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>60-4000 لیتری </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>5000-10،000 قطعه در رو ز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">برشکاری ورق </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>نیمه اتوماتیک </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>5000-20،000 قطعه در ر وز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold"> CNC تراش </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>4محوره تمام اتوماتیک </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>-</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">وایرکات </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>رفت برگشتی سه فاز </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>-</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">قلاویز زن اتوماتیک </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>-</span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>-</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">خطوط مونتاژ </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>6 خط مونتاژ </span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>1000-7000 دستگاه در روز </span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="mt-3" cols="12" md="4">
                    <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                  </b-col>
                  <b-col class="mt-3" cols="12" md="8">
                    <div>
                      <span class="fw-bold">نام دستگاه:</span>
                      <span class="fw-bold">دایکاست </span>
                    </div>
                    <div>
                      <span>مشخصات:</span>
                      <span>تزریق گرم آلومینیوم</span>
                    </div>
                    <div>
                      <span>ظرفیت تولید</span>
                      <span>200-1500 قطعه در روز </span>
                    </div>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab class="font-22" title="پلاستیک">
                  <b-row class="mt-4">
                    <b-col class="mt-3" cols="12" md="4">
                      <div class="bg-image" style="height: 200px;border-radius: 24px"></div>
                    </b-col>
                    <b-col class="mt-3" cols="12" md="8">
                      <div>
                        <span class="fw-bold">نام دستگاه:</span>
                        <span class="fw-bold">تزریق پلاستیک </span>
                      </div>
                      <div>
                        <span>مشخصات:</span>
                        <span>150-2000 گرم </span>
                      </div>
                      <div>
                        <span>ظرفیت تولید</span>
                        <span>500-3000 قطعه در روز </span>
                      </div>
                    </b-col>
                  </b-row>
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" class="mt-5">
            <p class="value__main--title mb-4">چارت سازمانی</p>
          </b-col>
          <b-row>
            <b-col cols="12" class="mb-5">
              <img class="mb-4 img-fluid" src="@images/chart.png" alt="marko" />
            </b-col>
          </b-row>
        </b-row>
        <b-row>
          <b-col cols="12">
            <p class="value__main--title">آماده همکاری با ما هستید؟</p>
          </b-col>
          <b-col cols="12">
            <div class="d-flex justify-content-center mt-5">
              <CareerButton />
              <ContactButton />
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <product />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import Product from "../components/home/product";
import CareerButton from "../components/career-button";
import ContactButton from "../components/ContactButton";
export default {
  components: {ContactButton, CareerButton, Product},
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@constants/color-variables';
@import '@mixins/media-query';

.value{
  &__bg{
    background: $white-color;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}
.produce{
  direction: ltr;
  @include is-not-desktop{
    direction: rtl;
  }
}

</style>
