<template>
  <div>
    <section id="hero-career">
      <b-container class="hero-career__bg mt-4">
        <b-row class="direction-hero-career py-md-2 my-5">
          <b-col cols="12" md="6" class="bg-image my-5">
<!--            <img class="navbar-main__brand mb-4" src="@images/logo.svg" alt="marko">-->
          </b-col>
          <b-col cols="12" md="6" class="my-5">
            <span class="hero-career__main--title" dir="rtl">درباره</span>
            <div class="hero-career__sub--title my-5">
              <p class="txt-justify">
                ما این امکان را فراهم کرده‌ایم که شما با پر کردن فرم همکاری با شرکت صنعت فرسازان ماکو بتوانید
                برند خود را در سامانه یکپارچه این شرکت ثبت نموده و سپس با توجه به نیاز سازمان خود، درخواست خود
                را مبنی بر تولید محصولات مدنظرتان توسط شرکت صنعت فرسازان ماکو با نام برند خودتان ثبت نمایید.
              </p>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section id="careers">
      <b-container class="careers__bg my-5">
        <b-row>
          <b-col cols="12" class="my-5">
            <b-tabs content-class="" justified>
              <b-tab class="font-22" title="همه فرصت های شغلی" @click="getCareers()">
                <b-row>
                  <b-col class="mt-3" cols="12" md="4" v-for="(card, cardIndex) in careers" :key="cardIndex">
                    <nuxt-link :to="`/career/${card.slug}`" class="text-decoration-none">
                      <b-card class="careers__card">
                        <b-card-title class="careers__title">{{ card.title }}</b-card-title>
                        <b-card-title class="careers__content">{{ card.bio }}</b-card-title>
                      </b-card>
                    </nuxt-link>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab class="font-22" v-for="(category, index) in categories" :key="index" :title="category.title" @click="getCareers(category.id)">
                <b-row>
                  <b-col class="mt-3" cols="12" md="4" v-for="(card, cardIndex) in careers" :key="cardIndex">
                    <nuxt-link :to="`/career/${card.slug}`" class="text-decoration-none">
                    <b-card class="careers__card">
                      <b-card-title class="careers__title">{{ card.title }}</b-card-title>
                      <b-card-title class="careers__content">{{ card.bio }}</b-card-title>
                    </b-card>
                    </nuxt-link>
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import {CAREERS, CATEGORIES} from '../utils/endpoints';

export default {
  data () {
    return {
      categories : [],
      careers:[]
    }
  },
  methods:{
    getCategories(){
      this.$axios.get(CATEGORIES,{ params:{type:'CAREER'}})
      .then(response=>{
        this.categories = response.data.data;
        this.getCareers()
      })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    },
    getCareers(categoryId){
      this.$axios.get(CAREERS,{ params: { category_id: categoryId } })
        .then(response => {
          this.careers = response.data.data;
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    },
  },
  mounted(){
    this.getCategories();
  }
}
</script>

<style lang="scss">
@import '@constants/color-variables';
@import '@mixins/media-query';



.direction-hero-career{
  direction: ltr;
  @include is-not-desktop{
    direction: rtl;
  }
}
.hero-career{
  &__bg{
    background: white;
  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}
.card-body {
  padding: 0!important;
}
.careers{
  &__bg{
    background: $white-color;
  }
  &__card{
    padding: 16px 24px 16px 24px!important;
    border-radius: 24px;
    border:solid 1px #D8DADB;

  }
  &__main--title{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: right;
    color: #191C1D;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__content{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #767676;
  ;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
  &__img{
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}
.produce{
  direction: ltr;
  @include is-not-desktop{
    direction: rtl;
  }
}

.nav-tabs .nav-link.active {
  color: red!important;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-bottom: solid 1px red!important;
}
.font-22{
  font-size: 22px!important;
}
.nav-tabs .nav-link {
  border: none!important;
  font-size: 22px !important;
  padding-bottom: 10px;
  color: #5C5F5F!important;
  font-weight: 400!important;
  @include is-not-desktop{
    font-size: 16px!important;
  }
}
.nav-tabs{
  @include is-not-desktop{
    font-size: 16px!important;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 500px;
    overflow: auto;
}}
</style>
