<template>
  <div>
    <section id="produce">
      <b-container class="value__bg my-5">
            <b-row class="direction-career-view mb-4">
              <b-col cols="12" md="8" class="mt-3">
                <span class="career-view__main--title" dir="rtl">کارشناس سرمایه های انسانی</span>
                <div class="d-flex justify-content-between mt-3" dir="rtl">
                  <div class="location-time">تهران، تمام وقت </div>
                </div>
                <div class="career-view__title mt-5">
                  <p>معرفی شرکت</p>
                </div>
                <b-col cols="9" class="career-view__sub--title my-2">
                  <p>
                    ما این امکان را فراهم کرده‌ایم که شما با پر کردن فرم همکاری با شرکت صنعت فرسازان ماکو بتوانید
                    برند خود را در سامانه یکپارچه این شرکت ثبت نموده و سپس با توجه به نیاز سازمان خود، درخواست خود
                    را مبنی بر تولید محصولات مدنظرتان توسط شرکت صنعت فرسازان ماکو با نام برند خودتان ثبت نمایید.
                  </p>
                </b-col>
              </b-col>
            </b-row>
        <b-row>
          <b-col  cols="12" md="8" class="">
            <div class="career-view__title">
              <p>شرح موقعیت شغلی</p>
            </div>
            <b-col cols="9" class="career-view__sub--title my-2">
              <p>
                ما این امکان را فراهم کرده‌ایم که شما با پر کردن فرم همکاری با شرکت صنعت فرسازان ماکو بتوانید
                برند خود را در سامانه یکپارچه این شرکت ثبت نموده و سپس با توجه به نیاز سازمان خود، درخواست خود
                را مبنی بر تولید محصولات مدنظرتان توسط شرکت صنعت فرسازان ماکو با نام برند خودتان ثبت نمایید.
              </p>
            </b-col>
          </b-col>
        </b-row>
        <section id="skills">
          <b-row>
            <b-col  cols="12" md="8" class="">
              <div class="career-view__title">
                <p>مهارت‌های تخصصی</p>
              </div>
              <ul class="bullet-list me-3">
                <li v-for="skill in skills" :key="skill">{{ skill }}</li>
              </ul>
            </b-col>
          </b-row>
        </section>
        <section id="general-skills">
          <b-row>
            <b-col  cols="12" md="8" class="">
              <div class="career-view__title">
                <p class="mt-3">مهارت‌های عمومی</p>
              </div>
              <ul class="bullet-list me-3">
                <li v-for="skill in generalSkills" :key="skill">{{ skill }}</li>
              </ul>
            </b-col>
          </b-row>
        </section>
        <b-row>
          <b-col cols="12" class="d-flex justify-content-center">
           <CareerButton />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>

import CareerButton from "../components/career-button";
export default {
  components: {CareerButton},
  data () {
    return {
      skills: [
        'آشنا به متد OKR',
        'توانایی استخراج KPI برای سنجش عملکرد فردی و تیمی',
        'شناسایی مهارت های فردی و استخدام نیرو بر اساس نیاز هر تیم',
        'توانایی ایجاد انگیزه کاری در پرسنل از طریق طرح های خلاقانه',
        'تسلط خوب به زبان انگلیسی',
        'آشنایی نسبی به قانون کار',
        'آشنا به امور ارزیابی عملکرد پرسنل'
      ],
      generalSkills: [
        'دقیق و منظم',
        'توجه به جزئیات',
        'مسئولیت پذیر',
        'خوش برخورد و پر انرژی',
        'روابط عمومی قوی',
        'آشنایی با محیط استارتاپی'
      ]
    }
  }
}
</script>

<style lang="scss">
@import '@constants/color-variables';
@import '@mixins/media-query';

.bullet-list li {
  list-style-type: disc;
}
.career-view{
  &__bg{
    background: white;
  }
  &__main--title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;
  }
  &__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    @include is-not-desktop{
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }
  &__sub--title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #5C5F5F;
    @include is-not-desktop{
      font-size: 14px;
    }
  }
}


</style>
