<template>
  <section id="produce" class="vh-100">
    <b-container class="contact__bg my-5">
      <b-row class="mb-5 d-flex justify-content-center">
        <b-col cols="12" md="6" class="mt-5">
          <p class="contact__main--title mt-4">تماس با ما</p>
          <b-row>
            <b-col cols="12" class="mt-3" dir="rtl">
              <div class="footer--style__main--title">
                <b-img src="@images/footer/location.svg"/>
                <span class="footer--style__footer--item mt-3 mr-2">
                  منطقه آزاد صنعتی و تجاری ماکو - شهرک صنعتی شماره یک - بلوار کارآفرینان - مجتمع گروه
                </span>
                <p class=""> صنعتی فرسازان ماکو</p>
              </div>
              <div v-for="(item,index) in items" :key="index" class="footer--style__footer--item mt-3">
                <b-img :src="require(`@images/footer/${item.src}`)"/>
                <div class="d-inline-block mr-2" dir="ltr"> {{ item.title }}</div>
              </div>
            </b-col>
          </b-row>
          <div class="mt-3">
            <div id="map" style="height: 400px;"></div>
          </div>
        </b-col>
        <b-col cols="11" md="6" class="form-border mt-5">
          <form @submit.prevent>
            <div class="mb-5" dir="rtl">
              <label for="name" class="form-label">نام و نام خانوادگی</label>
              <input type="text" class="form-control" id="name" v-model="formData.name" autocomplete="off">
              <div v-if="$v.formData.email.$error && !$v.formData.email.required" class="text-danger">
                نام و نام خانوادگی الزامی
                است.
              </div>
            </div>
            <div class="mb-5" dir="rtl">
              <label for="email" class="form-label">ایمیل</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com"
                     v-model="formData.email" autocomplete="off">
              <div v-if="$v.formData.email.$error && !$v.formData.email.required" class="text-danger">ایمیل الزامی
                است.
              </div>
              <div v-if="$v.formData.email.$error && !$v.formData.email.email" class="text-danger">لطفا ایمیل معتبر وارد
                کنید.
              </div>
            </div>
            <div class="mb-5">
              <label for="phoneNumber" class="form-label">شماره تماس</label>
              <input type="tel" class="form-control" id="phoneNumber" v-model="formData.phoneNumber" autocomplete="off">
              <div v-if="$v.formData.phoneNumber.$error && !$v.formData.phoneNumber.required" class="text-danger">شماره
                تماس الزامی است.
              </div>
              <div v-if="$v.formData.phoneNumber.$error && !$v.formData.phoneNumber.numeric" class="text-danger">لطفا
                شماره تماس معتبر وارد کنید.
              </div>
            </div>
            <div class="mb-5" dir="rtl">
              <label for="message" class="form-label">متن پیام</label>
              <textarea class="form-control" id="message" rows="3" v-model="formData.message"></textarea>
              <div v-if="$v.formData.message.$error && !$v.formData.message.required.$error" class="text-danger">متن
                پیام الزامی است.
              </div>
            </div>
            <div class="mt-5">
              <button @click="submitForm" class="btn btn--primary w-100 mt-3">ارسال پیام</button>
            </div>
          </form>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {required, email, numeric} from 'vuelidate/lib/validators'
import {CONTACTUS} from "~/utils/endpoints";

export default {
  head() {
    return {
      meta: [
        {
          hid: 'contact-us',
          name: 'contact-us',
          content: 'contact us'
        }
      ]
    }
  },
  mixins: [validationMixin],
  data() {
    return {
      items: [
        {
          title: 'team@fmaco.com', src: 'email.svg'
        },
        {
          title: '+۹۸ (۲۱)۵۵۶۶۷۷', src: 'phone.svg'
        }
      ],
      formData: {
        name: '',
        email: '',
        phoneNumber: '',
        message: '',
      },
    }
  },
  validations: {
    formData: {
      name: {
        required,
      },
      email: {
        required,
        email,
      },
      phoneNumber: {
        required,
        numeric
      },
      message: {
        required,
      },
    },
  },
  methods: {
    async submitForm() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        await this.$axios.post(CONTACTUS, {
          name: this.formData.name,
          email: this.formData.email,
          mobile: this.formData.phoneNumber,
          description: this.formData.message,
        })
          .then(() => {
              const toastMessage = 'عملیات با موفقیت انجام شد.'
              this.$toast.success(toastMessage)
              this.loading = false
            }
          )
          .catch(error => {
            const toastMessage = 'خطا در انجام عملیات'
            this.$toast.warning(toastMessage)
          });
      }
    },
  },
  mounted() {
    this.map = this.$L.map('map').setView([39.330717687764114, 44.40218144226176], 13);
    this.$L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(this.map);
  },
  beforeDestroy() {
    this.map.remove();
  },
}
</script>

<style lang="scss" scoped>
@import '@mixins/media-query';

.contact {
  &__bg {
    background: white;
  }

  &__main--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop {
      font-size: 28px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop {
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop {
      font-size: 14px;
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

.produce {
  direction: ltr;
  @include is-not-desktop {
    direction: rtl;
  }
}

.form-control {
  border-radius: 32px;
}

.form-border {
  border-radius: 24px;
  border: solid 1px #D8DADB;
  padding: 24px;
}
</style>
