<template>
  <section id="work" class="mt-3">
    <b-container class="contact__bg my-5">
      <b-row class="my-5 d-flex justify-content-center">
        <b-col cols="8" class="form-border mt-5">
          <b-form @submit.prevent>
            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title" label="اطلاعات فردی">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="نام ">
                  <b-form-input class="input-style" v-model="formData.name"></b-form-input>
                  <div v-if="$v.formData.name.$error && !$v.formData.name.required.$error" class="text-danger">
                    نام
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label=" نام خانوادگی">
                  <b-form-input class="input-style" v-model="formData.family"></b-form-input>
                  <div v-if="$v.formData.family.$error && !$v.formData.family.required.$error" class="text-danger">
                    نام خانوادگی
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="سال تولد">
                  <b-form-input class="input-style" v-model="formData.birthdate"></b-form-input>
                  <div v-if="$v.formData.birthdate.$error && !$v.formData.birthdate.required.$error" class="text-danger">
                    سال تولد
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="جنسیت">
                  <div class="d-inline-flex">
                    <form class="d-inline-flex">
                      <div class="mx-2 d-flex align-items-center">
                        <input type="radio" id="female" name="language_reading_rating" value="female"
                               v-model="formData.gender"/>
                        <label for="female" class="mx-1">زن</label>
                      </div>
                      <div class="mx-2 d-flex align-items-center">
                        <input type="radio" id="male" name="language_reading_rating" value="male"
                               v-model="formData.gender"/>
                        <label for="male" class="mx-1">مرد</label>
                      </div>
                    </form>
                  </div>
                  <div v-if="$v.formData.gender.$error && !$v.formData.gender.required.$error" class="text-danger">
                    جنسیت
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="وضعیت تاهل">
                  <b-form-input class="input-style" v-model="formData.additional.married"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="تعداد فرزند">
                  <b-form-input class="input-style" v-model="formData.additional.children"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>

            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="اطلاعات تماس">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="شماره تماس">
                  <b-form-input class="input-style" v-model="formData.mobile"></b-form-input>
                  <div v-if="$v.formData.mobile.$error && !$v.formData.mobile.required.$error" class="text-danger">
                    شماره تماس
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="ایمیل">
                  <b-form-input class="input-style" v-model="formData.email"></b-form-input>
                  <div v-if="$v.formData.email.$error && !$v.formData.email.required.$error" class="text-danger">
                    ایمیل
                    الزامی است.
                  </div>
                </b-form-group>
              </b-col>
            </b-form-row>


            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="سوابق تحصیلی">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="رشته تحصیلی">
                  <b-form-input class="input-style" v-model="formData.additional.major"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="مقطع">
                  <b-form-input class="input-style" v-model="formData.additional.grade"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="دانشگاه" class="mt-4">
                  <b-form-input class="input-style" v-model="formData.additional.university"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>

            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="سوابق شغلی">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="نام سازمان">
                  <b-form-input class="input-style" v-model="formData.additional.organization"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="حیطه فعالیت">
                  <b-form-input class="input-style" v-model="formData.additional.field"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="سمت شغلی">
                  <b-form-input class="input-style" v-model="formData.additional.position"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="نوع همکاری">
                  <b-form-input class="input-style" v-model="formData.additional.collabrationType"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="مدت همکاری">
                  <b-form-input class="input-style" v-model="formData.additional.collabrationTime"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="حقوق دریافتی">
                  <b-form-input class="input-style" v-model="formData.additional.salary"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>

            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="مهارت ها">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="عنوان">
                  <b-form-input class="input-style" v-model="formData.additional.skill"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="میزان تسلط">
                  <div class="d-inline-flex">
                    <form class="d-inline-flex">
                      <div class="mx-2 d-flex align-items-center">
                        <input type="radio" id="weak" name="skill_rating" value="ضعیف"
                               v-model="formData.additional.skillScore"/>
                        <label for="weak" class="mx-1">ضعیف</label>
                      </div>
                      <div class="mx-2 d-flex align-items-center">
                        <input type="radio" id="good" name="skill_rating" value="خوب"
                               v-model="formData.additional.skillScore"/>
                        <label for="good" class="mx-1">خوب</label>
                      </div>
                      <div class="mx-2 d-flex align-items-center">
                        <input type="radio" id="excellent" name="skill_rating" value="عالی"
                               v-model="formData.additional.skillScore"/>
                        <label for="excellent" class="mx-1">عالی</label>
                      </div>
                    </form>
                  </div>
                </b-form-group>
              </b-col>
            </b-form-row>


            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="زبان های خارجی">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="زبان">
                  <b-form-input class="input-style" v-model="formData.additional.language"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="12" class="mt-4">
                <b-row md="12" class="mt-4">
                  <b-col md="6" class="mt-4">
                    <b-form-group label="مهارت شنیداری">
                      <div class="d-inline-flex">
                        <form class="d-inline-flex">
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="weak1" name="language_listening_rating" value="ضعیف"
                                   v-model="formData.additional.languageListeningScore"/>
                            <label for="weak" class="mx-1">ضعیف</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="good1" name="language_listening_rating" value="خوب"
                                   v-model="formData.additional.languageListeningScore"/>
                            <label for="good" class="mx-1">خوب</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="excellent1" name="language_listening_rating" value="عالی"
                                   v-model="formData.additional.languageListeningScore"/>
                            <label for="excellent" class="mx-1">عالی</label>
                          </div>
                        </form>
                      </div>
                    </b-form-group>
                  </b-col>
                  <b-col md="6" class="mt-4">
                    <b-form-group label="مهارت نوشتاری">
                      <div class="d-inline-flex">
                        <form class="d-inline-flex">
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="weak2" name="language_writing_rating" value="ضعیف"
                                   v-model="formData.additional.languageWritingScore"/>
                            <label for="weak" class="mx-1">ضعیف</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="good2" name="language_writing_rating" value="خوب"
                                   v-model="formData.additional.languageWritingScore"/>
                            <label for="good" class="mx-1">خوب</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="excellent2" name="language_writing_rating" value="عالی"
                                   v-model="formData.additional.languageWritingScore"/>
                            <label for="excellent" class="mx-1">عالی</label>
                          </div>
                        </form>
                      </div>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row md="12" class="mt-4">
                  <b-col md="6" class="mt-4">
                    <b-form-group label="مهارت گفتاری">
                      <div class="d-inline-flex">
                        <form class="d-inline-flex">
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="weak3" name="language_speaking_rating" value="ضعیف"
                                   v-model="formData.additional.languageSpeakingScore"/>
                            <label for="weak" class="mx-1">ضعیف</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="good3" name="language_speaking_rating" value="خوب"
                                   v-model="formData.additional.languageSpeakingScore"/>
                            <label for="good" class="mx-1">خوب</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="excellent3" name="language_speaking_rating" value="عالی"
                                   v-model="formData.additional.languageSpeakingScore"/>
                            <label for="excellent" class="mx-1">عالی</label>
                          </div>
                        </form>
                      </div>
                    </b-form-group>
                  </b-col>
                  <b-col md="6" class="mt-4">
                    <b-form-group label="مهارت خواندن">
                      <div class="d-inline-flex">
                        <form class="d-inline-flex">
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="weak4" name="language_reading_rating" value="ضعیف"
                                   v-model="formData.additional.languageReadingScore"/>
                            <label for="weak" class="mx-1">ضعیف</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="good4" name="language_reading_rating" value="خوب"
                                   v-model="formData.additional.languageReadingScore"/>
                            <label for="good" class="mx-1">خوب</label>
                          </div>
                          <div class="mx-2 d-flex align-items-center">
                            <input type="radio" id="excellent4" name="language_reading_rating" value="عالی"
                                   v-model="formData.additional.languageReadingScore"/>
                            <label for="excellent" class="mx-1">عالی</label>
                          </div>
                        </form>
                      </div>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-form-row>


            <b-form-row class="row mt-4">
              <b-col md="12">
                <b-form-group class="form-title border-form" label="دوره آموزشی">
                </b-form-group>
              </b-col>
            </b-form-row>
            <b-form-row class="row mt-4">
              <b-col md="6">
                <b-form-group label="عنوان">
                  <b-form-input class="input-style" v-model="formData.additional.course"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="مدت دوره">
                  <b-form-input class="input-style" v-model="formData.additional.courseTime"></b-form-input>
                </b-form-group>
              </b-col>
            </b-form-row>

            <b-form-row class="row mt-4">
              <b-col md="12" class="">
                <b-form-group class="form-title border-form" label="اطلاعات تکمیلی">
                </b-form-group>
              </b-col>
            </b-form-row>

            <b-form-row class="row mt-4">
              <b-col class="mt-3" md="12">
                <b-form-group label="علاقه مندی ها">
                  <b-form-input class="input-style" v-model="formData.additional.entertainment"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col class="mt-3" md="12">
                <b-form-group label="شرح توانمندی ها">
                  <b-form-input class="input-style" v-model="formData.additional.skillDescription"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col class="mt-3" md="12">
                <b-form-group label="محیط کار  ایده آل شما">
                  <b-form-input class="input-style" v-model="formData.additional.office"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col class="mt-3" md="12">
                <b-form-group label="دلیل انتخاب SFM">
                  <b-form-input class="input-style" v-model="formData.additional.reasonSFM"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col class="mt-3" md="12">
                <b-form-group label="نحوه آشنایی با SFM">
                  <b-form-input class="input-style" v-model="formData.additional.familiaritySFM"></b-form-input>
                </b-form-group>
              </b-col>

              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group label="تاریخ آمادگی برای شروع همکاری">
                    <b-form-input class="input-style" v-model="formData.additional.startWork"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="سایر  توضیحات">
                    <b-form-input class="input-style" v-model="formData.additional.description"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="12">
                  <b-form-group>
                    <label>
                      <input type="checkbox" v-model="formData.additional.workOutCity"/>
                      انجام ماموریت خارج از شهر
                    </label>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group>
                    <label>
                      <input type="checkbox" v-model="formData.additional.smoking"/>
                      استعمال دخانیات
                    </label>
                  </b-form-group>
                </b-col>
              </b-form-row>
            </b-form-row>
            <button type="button" @click="submitForm" class="btn btn--primary w-100 mt-5 mb-4">ارسال رزومه</button>
          </b-form>
        </b-col>
        <div class="mt-5">

        </div>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {email, numeric, required,} from 'vuelidate/lib/validators'
import {RESUME} from "~/utils/endpoints";

export default {
  mixins: [validationMixin],
  data() {
    return {
      formData: {
        name: '',
        family: '',
        birthdate: '',
        gender: '',
        mobile: '',
        email: '',
        avatar: '',
        additional: {},
      },
    }
  },
  validations: {
    formData: {
      name: {
        required,
      },
      family: {
        required,
      },
      birthdate: {
        required,
      },
      gender: {
        required,
      },
      email: {
        required,
        email,
      },
      mobile: {
        required,
        numeric
      },
    },
  },
  methods: {
    async submitForm() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        await this.$axios.post(RESUME, this.formData)
          .then(() => {
              const toastMessage = 'عملیات با موفقیت انجام شد.'
              this.$toast.success(toastMessage)
              this.loading = false
            }
          )
          .catch(error => {
            const toastMessage = 'خطا در انجام عملیات'
            this.$toast.warning(toastMessage)
          });
      }
    },
    handleFileChange(event) {
      this.formData.avatar = event.target.files[0];
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@mixins/media-query';

.border-form {
  border-top: solid 1px #D8C2BE;
  padding-top: 20px;
}

.contact {
  &__bg {
    background: white;
  }

  &__main--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop {
      font-size: 28px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop {
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop {
      font-size: 14px;
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

.produce {
  direction: ltr;
  @include is-not-desktop {
    direction: rtl;
  }
}

.form-control {
  border-radius: 32px;
}

.form-border {
  border-radius: 24px;
  border: solid 1px #D8DADB;
  padding: 24px;
}

.input-style {
  padding: 10px 16px 10px 16px;
  background: #ECEEEF;
  border: none;
}
</style>
