<template>
  <div>
    <hero class="" />
    <value class="my-3" />
    <brand class="my-3" />
    <product class="my-3" />
    <first-carousel :data="carouselConfig" />
    <factory class="my-3" />
  </div>
</template>

<script>

import Hero from '~/components/home/hero'
import Value from '~/components/home/value'
import product from '~/components/home/product'
import factory from '~/components/home/factory'
import Brand from "../components/home/brand";
import FirstCarousel from "../components/carousel/first-carousel";

export default {
  name: 'IndexPage',
  components: {
    FirstCarousel,
    Brand,
    Hero,
    Value,
    product,
    factory
  },
  data(){
    return{
      carouselConfig: {
        name: "carousel",
        type: "first",
        background: "",
        body: {
          class: "",
          firstRow: {
            class: "col-12",
            column: {
              sizes: {
                cols: "12"
              },
              class: "",
              body: {
                title: {
                  tagName: "h2",
                  class:
                    ""
                }
              }
            }
          },
          carousel: {
            items: [
              {
                imgSrc: require("~/assets/images/companies/1.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/2.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/3.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/4.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/5.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/6.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/7.svg")
              },
              {
                imgSrc: require("~/assets/images/companies/8.svg")
              }
            ],
            settings: {
              arrows: false,
              dots: false,
              infinite: true,
              slidesToShow: 7,
              slidesToScroll: 1,
              rtl: true,
              autoplay: true,
              speed: 5000,
              autoplaySpeed: 0,
              swipe: false,
              pauseOnHover: false,
              draggable: false,
              cssEase: "linear",
              responsive: [
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 7,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 340,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
            }
          }
        }
      },
    }
  }
}
</script>
