<template>
  <div>
    <section id="produce">
      <b-container class="value__bg my-5">
<!--        <b-row>-->
<!--          <b-col cols="12">-->
<!--            <HeroProducts class=""/>-->
<!--          </b-col>-->
<!--        </b-row>-->
        <b-row>
          <b-col cols="12" class="my-5 pt-5">
            <b-tabs class="mt-5" content-class="" justified v-if="categories.length > 0">
              <b-tab class="value__title mt-3" title="همه محصولات" @click="getProducts()">
                <b-row class="mt-5">
                  <b-col class="mt-3" cols="12" md="4" v-for="(card, cardIndex) in products" :key="cardIndex">
                    <nuxt-link :to="`/product/${card.slug}`" class="value__title">
                      <b-card>
                        <b-card-img :src="card.image.url" class="value__img" alt="Card Image"></b-card-img>
                        <b-card-title class="value__title">{{ card.title }}</b-card-title>
                      </b-card>
                    </nuxt-link>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab class="value__title" v-for="(category, index) in categories" :key="index" :title="category.title"
                     @click="getProducts(category.id)" :active="category.slug === activeCategorySlug">
                <b-row>
                  <b-col class="mt-3" cols="12" md="4" v-for="(card, cardIndex) in products" :key="cardIndex">
                    <nuxt-link :to="`/product/${card.slug}`" class="value__title">
                      <b-card>
                        <b-card-img :src="card.image.url" class="value__img" alt="Card Image"></b-card-img>
                        <b-card-title class="value__title">{{ card.title }}</b-card-title>
                      </b-card>
                    </nuxt-link>
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
        <b-row class="mb-5">
          <b-col cols="12" class="my-5">
            <brand class="my-3"/>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import Brand from "../components/home/brand";
import {PRODUCTS, CATEGORIES} from '../utils/endpoints';


export default {
  components: { Brand},
  data() {
    return {
      categories: [],
      activeCategorySlug: null,
      products: []
    }
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    async getCategories() {
     await this.$axios.get(CATEGORIES, {params: {type: 'PRODUCT'}})
        .then(response => {
          this.categories = response.data.data;
          if (this.$route.query.category) {
            this.categories.forEach(this.setActiveCategory)
          }else{
            this.getProducts()
          }
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });

    },
    setActiveCategory(category) {
      if (category.slug === this.$route.query.category) {
        this.activeCategorySlug = this.$route.query.category
        this.getProducts(category.id)
      }
    },
    getProducts(categoryId) {
      this.products = [];
      this.$axios.get(PRODUCTS, {params: {category_id: categoryId}})
        .then(response => {
          this.products = response.data.data;
        })
        .catch(error => {
          console.log('Error fetching products:', error);
        });
    },
  }
}
</script>

<style lang="scss">
@import '@constants/color-variables';
@import '@mixins/media-query';

.value {
  &__bg {
    background: $white-color;
  }

  &__main--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop{
      font-size: 28px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    text-decoration: none;
    @include is-not-desktop {
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop {
      font-size: 14px;
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

.produce {
  direction: ltr;
  @include is-not-desktop {
    direction: rtl;
  }
}

.nav-tabs .nav-link.active {
  color: red !important;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-bottom: solid 1px red !important;
}

.nav-tabs .nav-link {
  border: none !important;
  font-size: 22px !important;
  padding-bottom: 10px;
  color: #5C5F5F !important;
  font-weight: 400 !important;
}
.nav-tabs{
  @include is-not-desktop{
    font-size: 16px!important;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 500px;
    overflow: auto;
  }}
</style>
