<template>
  <section id="work" class="mt-3">
    <b-container class="contact__bg my-5">
      <b-row class="my-5 d-flex justify-content-center">
        <b-col cols="8" class="form-border mt-5">
            <b-form @submit.prevent>
              <b-form-row class="row mt-4">
                <b-col md="12">
                  <b-form-group class="form-title" label="اطلاعات تماس">
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group  label="نام و نام خانوادگی *">
                    <b-form-input  class="input-style" v-model="formData.name"></b-form-input>
                    <div v-if="$v.formData.name.$error && !$v.formData.name.required.$error" class="text-danger">
                      نام و نام خانوادگی
                      الزامی است.
                    </div>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="نوع همکاری ">
                    <b-form-input  class="input-style"  v-model="formData.type"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group label="نام شرکت *">
                    <b-form-input  class="input-style"  v-model="formData.companyName"></b-form-input>
                    <div v-if="$v.formData.companyName.$error && !$v.formData.companyName.required.$error" class="text-danger">
                      نام شرکت
                      الزامی است.
                    </div>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="نام تجاری">
                    <b-form-input  class="input-style"  v-model="formData.businessName"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group label="شماره تماس *">
                    <b-form-input  class="input-style"  v-model="formData.mobile"></b-form-input>
                    <div v-if="$v.formData.mobile.$error && !$v.formData.mobile.required.$error" class="text-danger">
                      شماره تماس
                      الزامی است.
                    </div>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="ایمیل *">
                    <b-form-input  class="input-style"  v-model="formData.email"></b-form-input>
                    <div v-if="$v.formData.mobile.$error && !$v.formData.mobile.required.$error" class="text-danger">
                      ایمیل
                      الزامی است.
                    </div>
                  </b-form-group>
                </b-col>
              </b-form-row>

              <b-form-row class="row mt-4">
                <b-col md="12">
                  <b-form-group class="form-title border-form" label="اطلاعات محصول سفارشی">
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group  label="محصول">
                    <b-form-input  class="input-style"  v-model="formData.product"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="طرحی دارید؟">
                    <b-form-input  class="input-style"  v-model="formData.isSfm"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="6">
                  <b-form-group label="اقلام تکمیلی">
                    <b-form-input  class="input-style"  v-model="formData.completedProduct"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="سایر توضیحات">
                    <b-form-input  class="input-style"  v-model="formData.productDescription"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>

              <b-form-row class="row mt-4">
                <b-col md="12">
                  <b-form-group>
                    <label>
                      <input type="checkbox" v-model="formData.isPacket" />
                      طراحی بسته بندی محصول توسط SFM انجام شود
                    </label>
                  </b-form-group>
                </b-col>
              </b-form-row>

              <b-form-row class="row mt-4">
                <b-col md="12" class="">
                  <b-form-group class="form-title border-form" label="اطلاعات تکمیلی">
                  </b-form-group>
                </b-col>
              </b-form-row>
              <b-form-row class="row mt-4">
                <b-col md="12" class="mt-4">
                  <b-form-group  label="نحوه آشنایی با SFM">
                    <b-form-input  class="input-style"  v-model="formData.sfmFamiliar"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col md="12" class="mt-4">
                  <b-form-group label="سایر توضیحات">
                    <b-form-input  class="input-style"  v-model="formData.description"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-form-row>
              <button @click="submitForm" class="btn btn--primary w-100 mt-5 mb-4">ثبت</button>
            </b-form>
        </b-col>
        <div class="mt-5">

        </div>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {required, email, numeric} from 'vuelidate/lib/validators'
import {WORK} from "~/utils/endpoints";

export default {
  mixins: [validationMixin],
  data() {
    return {
      formData: {
        name: '',
        type: '',
        companyName: '',
        businessName: '',
        mobile: '',
        email: '',
        product: '',
        isSfm: '',
        completedProduct: '',
        productDescription: '',
        sfmFamiliar: '',
        description: '',
        isPacket:''
      },
    }
  },
  validations: {
    formData: {
      name: {
        required,
      },
      companyName: {
        required,
      },
      email: {
        required,
        email,
      },
      mobile: {
        required,
      },
    },
  },
  methods: {
    async submitForm() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        await this.$axios.post(WORK, {
          name: this.formData.name,
          type: this.formData.type,
          company_name: this.formData.companyName,
          business_name: this.formData.businessName,
          mobile: this.formData.mobile,
          email: this.formData.email,
          product: this.formData.product,
          is_sfm: this.formData.isSfm,
          is_packet: this.formData.isPacket,
          completed_product: this.formData.completedProduct,
          product_description: this.formData.productDescription,
          sfm_familiar: this.formData.sfmFamiliar,
          description: this.formData.description,

        })
          .then(() => {
              const toastMessage = 'عملیات با موفقیت انجام شد.'
              this.$toast.success(toastMessage)
              this.loading = false
            }
          )
          .catch(error => {
            const toastMessage = 'خطا در انجام عملیات'
            this.$toast.warning(toastMessage)
          });
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import '@mixins/media-query';

.border-form{
  border-top: solid 1px #D8C2BE;
  padding-top: 20px;
}
.contact {
  &__bg {
    background: white;
  }

  &__main--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #C00004;
    margin-top: 2.5rem;
    @include is-not-desktop {
      font-size: 28px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #191C1D;
    margin: 1.5rem 0;
    @include is-not-desktop {
      margin: 0.5rem 0;
      font-size: 15px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #1B1B1B;
    margin-bottom: 5rem;
    @include is-not-desktop {
      font-size: 14px;
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    @include is-not-desktop {
      width: 100px;
      height: 100px;
    }
  }
}

.produce {
  direction: ltr;
  @include is-not-desktop {
    direction: rtl;
  }
}

.form-control {
  border-radius: 32px;
}

.form-border {
  border-radius: 24px;
  border: solid 1px #D8DADB;
  padding: 24px;
}
.input-style{
  padding: 10px 16px 10px 16px;
  background: #ECEEEF;
  border: none;
}
</style>
